/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #4a6719;
  --title-color: #262626;
  --text-color: #595959;
  --body-color: #f2f2f2;
  --container-color: rgb(255, 255, 255);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color); /* Fixing background color */
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin: 1.5rem; /* Simplified margin */
  padding: 5rem 0; /* Added vertical padding */
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 100%; /* Responsive image width */
  max-width: 328px; /* Maximum width for larger screens */
  border-radius: 1.5rem;
}

.card__data {
  width: 100%; /* Responsive width */
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin: 0 auto; /* Centering horizontally */
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
  color: #000;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin: 1rem; /* Adjusted margin */
  }

  .card__data {
    width: calc(100% - 2rem); /* Full width with adjusted padding */
    padding: 1rem; /* Adjusted padding */
    bottom: -8rem; /* Adjusted position */
  }
}

/* For medium devices */
@media screen and (min-width: 950px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    max-width: 348px;
  }
  .card__data {
    width: 100%; /* Full width */
    max-width: 316px; /* Maximum width for large screens */
    padding-inline: 2.5rem; /* Adjusted horizontal padding */
    bottom: -9rem; /* Adjusted position */
  }
}

.container h1 {
  font-size: 2.5rem; /* Adjusted font size */
  color: #f2f2f2;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-right: 2rem; /* Adjusted margin */
  margin-bottom: -0.5rem; /* Adjusted margin */
}

.container h1 span {
  color: var(--main-color);
}

@media (max-width: 1370px) {
  .container {
    padding: 70px 4%; /* Adjusted padding */
  }
}
